* {
box-sizing: border-box;
}


body {
    margin: 0px;
    background-color: lightcyan;
}
header {
    background-color: pink;
    box-shadow: 10px 10px 15px pink;
    margin-top: auto;
}
header img {
    display: block;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

li {
    width: 50%;
    height: 40px;
    text-align: center;
}

li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.438);
    padding: 1em 47%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

li a:hover {
    background-color: rgb(255, 134, 154);
}

main {
    margin-left: 8px;
    text-align: center;
}
main img {
    height: 250px;
    width: 400px;
    margin: 10px;
    box-shadow: 10px 10px 5px pink;
}

main img:hover {
    box-shadow: 10px 10px 5px black;
}

footer {
    margin-bottom: auto;
    text-align: center;
}

footer p {
    color: rgba(0, 0, 0, 0.521);
    margin-bottom: 0px;
}